/* line 1, /Users/sawyerbateman/Desktop/Marketing Pages/Marc1/css/styles.sass */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  /* line 5, /Users/sawyerbateman/Desktop/Marketing Pages/Marc1/css/styles.sass */
  *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

/* line 9, /Users/sawyerbateman/Desktop/Marketing Pages/Marc1/css/styles.sass */
html, body {
  width: 100%;
  height: 100%; }

/* line 12, /Users/sawyerbateman/Desktop/Marketing Pages/Marc1/css/styles.sass */
body {
  background: #fff;
  color: #a7a0a2;
  font-weight: 400;
  font-size: 1em;
  font-family: 'Lato', Arial, sans-serif; }

/* line 20, /Users/sawyerbateman/Desktop/Marketing Pages/Marc1/css/styles.sass */
.clearfix:before {
  content: '';
  display: table; }
/* line 23, /Users/sawyerbateman/Desktop/Marketing Pages/Marc1/css/styles.sass */
.clearfix:after {
  content: '';
  display: table;
  clear: both; }

/* line 28, /Users/sawyerbateman/Desktop/Marketing Pages/Marc1/css/styles.sass */
a {
  color: #8e888a;
  text-decoration: none;
  outline: none; }
  /* line 32, /Users/sawyerbateman/Desktop/Marketing Pages/Marc1/css/styles.sass */
  a:hover, a:focus {
    color: #a7a0a2; }

/* line 36, /Users/sawyerbateman/Desktop/Marketing Pages/Marc1/css/styles.sass */
.contact-nav {
  width: 100%;
  height: 70px;
  background: #EBECEC; }
  /* line 40, /Users/sawyerbateman/Desktop/Marketing Pages/Marc1/css/styles.sass */
  .contact-nav .user-info {
    height: 100%;
    float: left; }
  /* line 43, /Users/sawyerbateman/Desktop/Marketing Pages/Marc1/css/styles.sass */
  .contact-nav .user-mug {
    width: 60px;
    margin-top: 5px;
    margin-left: 9px;
    border-radius: 3px;
    float: left; }
  /* line 50, /Users/sawyerbateman/Desktop/Marketing Pages/Marc1/css/styles.sass */
  .contact-nav .user-info h4 {
    float: left;
    display: block;
    margin: 10px 0 0 10px; }
  /* line 54, /Users/sawyerbateman/Desktop/Marketing Pages/Marc1/css/styles.sass */
  .contact-nav .user-info p {
    display: block;
    margin-top: 0;
    margin-left: 10px;
    font-size: 12px; }
  /* line 59, /Users/sawyerbateman/Desktop/Marketing Pages/Marc1/css/styles.sass */
  .contact-nav .content-right {
    float: right;
    height: 100%; }
    /* line 62, /Users/sawyerbateman/Desktop/Marketing Pages/Marc1/css/styles.sass */
    .contact-nav .content-right i {
      font-size: 25px;
      position: relative;
      top: 6px;
      padding-right: 5px; }
      @media (max-width: 600px) {
        .contact-nav .content-right i {
          padding: 0; } }
    /* line 69, /Users/sawyerbateman/Desktop/Marketing Pages/Marc1/css/styles.sass */
    .contact-nav .content-right span {
      padding-top: 25px; }
      @media (max-width: 600px) {
        .contact-nav .content-right span {
          display: none; } }
    /* line 73, /Users/sawyerbateman/Desktop/Marketing Pages/Marc1/css/styles.sass */
    .contact-nav .content-right .splash-code {
      float: left;
      height: 100%;
      border-right: 1px solid #ccc;
      border-left: 1px solid #ccc;
      padding: 19px 15px; }
    /* line 79, /Users/sawyerbateman/Desktop/Marketing Pages/Marc1/css/styles.sass */
    .contact-nav .content-right .send-card {
      float: right;
      height: 100%;
      border-right: 1px solid #ccc;
      padding: 19px 15px; }

/* line 85, /Users/sawyerbateman/Desktop/Marketing Pages/Marc1/css/styles.sass */
.cards {
  position: relative;
  padding: 60px 0 60px 0;
  min-height: 500px;
  background: #284666 url('../img/cards.jpg') no-repeat center center;
  background-size: cover;
  color: #fff; }

/* line 93, /Users/sawyerbateman/Desktop/Marketing Pages/Marc1/css/styles.sass */
.blockquote {
  padding: 40px 0;
  text-align: center;
  color: #333; }
  /* line 97, /Users/sawyerbateman/Desktop/Marketing Pages/Marc1/css/styles.sass */
  .blockquote h1 {
    color: #58595b; }
    @media (max-width: 600px) {
      .blockquote h1 {
        font-size: 21px; } }

/* line 101, /Users/sawyerbateman/Desktop/Marketing Pages/Marc1/css/styles.sass */
.section-overlay {
  position: absolute;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

/* line 111, /Users/sawyerbateman/Desktop/Marketing Pages/Marc1/css/styles.sass */
.overlay-content {
  position: relative;
  display: block;
  text-align: center;
  top: 50%;
  transform: translateY(-50%); }
  /* line 117, /Users/sawyerbateman/Desktop/Marketing Pages/Marc1/css/styles.sass */
  .overlay-content h2 {
    font-size: 36px;
    text-transform: uppercase;
    text-transform: uppercase; }
    @media (max-width: 600px) {
      .overlay-content h2 {
        font-size: 25px; } }

/* line 124, /Users/sawyerbateman/Desktop/Marketing Pages/Marc1/css/styles.sass */
#player i {
  font-size: 85px;
  color: #fff; }
  @media (max-width: 600px) {
    #player i {
      font-size: 70px; } }

/* line 130, /Users/sawyerbateman/Desktop/Marketing Pages/Marc1/css/styles.sass */
.feature {
  width: 100%;
  padding: 50px;
  text-align: center;
  clear: both; }

/* line 136, /Users/sawyerbateman/Desktop/Marketing Pages/Marc1/css/styles.sass */
.content-center {
  width: 80%;
  display: block;
  margin: 0 auto; }
  /* line 140, /Users/sawyerbateman/Desktop/Marketing Pages/Marc1/css/styles.sass */
  .content-center .content-box {
    width: calc(33.333% - 15px);
    height: 350px;
    background: #ddd;
    float: left;
    margin-left: 15px; }
    @media (max-width: 991px) {
      .content-center .content-box {
        width: 100%;
        float: none;
        margin-left: 0;
        margin-bottom: 15px; } }

/*# sourceMappingURL=styles.css.map */