@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?thgi31');
	src:url('fonts/icomoon.eot?#iefixthgi31') format('embedded-opentype'),
		url('fonts/icomoon.woff?thgi31') format('woff'),
		url('fonts/icomoon.ttf?thgi31') format('truetype'),
		url('fonts/icomoon.svg?thgi31#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-qr:before {
	content: "\e66a";
}
.icon-icon_star:before {
	content: "\e669";
}

.icon-pictures_add_to_album:before {
	content: "\e661";
}

.icon-pictures_albums:before {
	content: "\e662";
}

.icon-pictures_check_mark:before {
	content: "\e663";
}

.icon-pictures_download:before {
	content: "\e664";
}

.icon-pictures_search:before {
	content: "\e665";
}

.icon-pictures_tag:before {
	content: "\e666";
}

.icon-pictures_trash:before {
	content: "\e667";
}

.icon-pictures_upload:before {
	content: "\e668";
}

.icon-account:before {
	content: "\e600";
}

.icon-add:before {
	content: "\e601";
}

.icon-alert:before {
	content: "\e602";
}

.icon-arrow-left:before {
	content: "\e603";
}

.icon-arrow-right:before {
	content: "\e604";
}

.icon-attachment:before {
	content: "\e605";
}

.icon-barcode:before {
	content: "\e606";
}

.icon-briefcase:before {
	content: "\e607";
}

.icon-calendar:before {
	content: "\e608";
}

.icon-camera:before {
	content: "\e609";
}

.icon-cards:before {
	content: "\e60a";
}

.icon-cart:before {
	content: "\e60b";
}

.icon-center-align:before {
	content: "\e60c";
}

.icon-chat-bubbles:before {
	content: "\e60d";
}

.icon-chat:before {
	content: "\e60e";
}

.icon-check-box:before {
	content: "\e60f";
}

.icon-checkmark:before {
	content: "\e610";
}

.icon-close-rounded:before {
	content: "\e611";
}

.icon-close-x:before {
	content: "\e612";
}

.icon-close:before {
	content: "\e613";
}

.icon-close2:before {
	content: "\e614";
}

.icon-cog:before {
	content: "\e615";
}

.icon-color-picker:before {
	content: "\e616";
}

.icon-compass:before {
	content: "\e617";
}

.icon-credit_card:before {
	content: "\e618";
}

.icon-creditcard:before {
	content: "\e619";
}

.icon-delete:before {
	content: "\e61a";
}

.icon-document:before {
	content: "\e61b";
}

.icon-dollar:before {
	content: "\e61c";
}

.icon-down_arrow:before {
	content: "\e61d";
}

.icon-download:before {
	content: "\e61e";
}

.icon-edit-layouts:before {
	content: "\e61f";
}

.icon-edit:before {
	content: "\e620";
}

.icon-envelope:before {
	content: "\e621";
}

.icon-export:before {
	content: "\e622";
}

.icon-eye:before {
	content: "\e623";
}

.icon-file-text-o:before {
	content: "\e624";
}

.icon-flag:before {
	content: "\e625";
}

.icon-gauge:before {
	content: "\e626";
}

.icon-gift:before {
	content: "\e627";
}

.icon-gifts:before {
	content: "\e628";
}

.icon-go:before {
	content: "\e629";
}

.icon-headphones:before {
	content: "\e62a";
}

.icon-headphones2:before {
	content: "\e62b";
}

.icon-images:before {
	content: "\e62c";
}

.icon-large-quotes:before {
	content: "\e62d";
}

.icon-left-align:before {
	content: "\e62e";
}

.icon-left-arrow-rounded:before {
	content: "\e62f";
}

.icon-left-arrow:before {
	content: "\e630";
}

.icon-list:before {
	content: "\e631";
}

.icon-login:before {
	content: "\e632";
}

.icon-login2:before {
	content: "\e633";
}

.icon-logout:before {
	content: "\e634";
}

.icon-menu-icon:before {
	content: "\e635";
}

.icon-menu:before {
	content: "\e636";
}

.icon-microphone:before {
	content: "\e637";
}

.icon-minus:before {
	content: "\e638";
}

.icon-minus2:before {
	content: "\e639";
}

.icon-mobile-phone:before {
	content: "\e63a";
}

.icon-paper-airplane:before {
	content: "\e63b";
}

.icon-paragraph-center:before {
	content: "\e63c";
}

.icon-paragraph-left:before {
	content: "\e63d";
}

.icon-paragraph-right:before {
	content: "\e63e";
}

.icon-person:before {
	content: "\e63f";
}

.icon-phone-square:before {
	content: "\e640";
}

.icon-photos:before {
	content: "\e641";
}

.icon-pictures:before {
	content: "\e642";
}

.icon-play:before {
	content: "\e643";
}

.icon-play2:before {
	content: "\e644";
}

.icon-playing:before {
	content: "\e645";
}

.icon-plus:before {
	content: "\e646";
}

.icon-plus2:before {
	content: "\e647";
}

.icon-points_expense:before {
	content: "\e648";
}

.icon-postcard:before {
	content: "\e649";
}

.icon-presentation:before {
	content: "\e64a";
}

.icon-preview:before {
	content: "\e64b";
}

.icon-quote:before {
	content: "\e64c";
}

.icon-right-align:before {
	content: "\e64d";
}

.icon-right-arrow-rounded:before {
	content: "\e64e";
}

.icon-right-arrow:before {
	content: "\e64f";
}

.icon-rocketship:before {
	content: "\e650";
}

.icon-search:before {
	content: "\e651";
}

.icon-share:before {
	content: "\e652";
}

.icon-shopping-cart:before {
	content: "\e653";
}

.icon-text-size:before {
	content: "\e654";
}

.icon-text:before {
	content: "\e655";
}

.icon-thin_close:before {
	content: "\e656";
}

.icon-tools:before {
	content: "\e657";
}

.icon-trash:before {
	content: "\e658";
}

.icon-trash2:before {
	content: "\e659";
}

.icon-upload:before {
	content: "\e65a";
}

.icon-users:before {
	content: "\e65b";
}

.icon-video:before {
	content: "\e65c";
}

.icon-wallet:before {
	content: "\e65d";
}

.icon-youtube:before {
	content: "\e65e";
}

.icon-floppy-o:before {
	content: "\e660";
}

.icon-lock:before {
	content: "\e65f";
}
